<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.agent-secret-vault.SVLT.agent</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/SVLTAgent</string>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.agent-secret-vault.SVLT</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>5</integer>
</dict>
</plist>
